spring:
  application:
    name: configuration-server
  cloud:
    config:
      server:
        git:
          uri: 'https://github.com/lugepime3/configuration-server.git'

server:
  port: 8888

eureka:
  instance:
    hostname: localhost
